<button class="middle" mat-raised-button color="primary" (click)="certificate()">Dowload certificate</button>
<div class="body" id="certificate">
 <div class="inset-border">
   <div class="double-border">
    <div>
      <div class="id" align="left">ID: I2844</div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/JBoss_logo.svg" align="center"/>
      <p class="certificate">Certificate</p>
      <h2><span>of Excellence</span></h2>
      <p class="text">This certificate is proudly presented to:</p>
      <p class="name">Meenakshi Ravichandran</p>
      <p class="description">For completing Angular course</p>
      <div class="date">
          <p class="dateText" align="left">Date: 14/06/1994</p>
        </div>
        <div class="signature">
          <p class="signatureText" align="right">Signature: Karthik</p>
        </div>
        </div>
    </div>
  </div>
</div>
