<nav class="navbar navbar-expand-lg bg-primary">
  <span class="navbar-brand"><b>Training center</b></span>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses">Courses</a>
      </li>
      <li class="nav-item" *ngIf="isadmin">
        <a class="nav-link" routerLink="/course/new">Add course</a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="ma">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
