ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.bg-primary {
  background-color: #3f51b5 !important;
}

.navbar-brand {
  color: white;
  font-size: 20px;
  font-style: initial;
}
