<footer class="page-footer font-small blue fixed-bottom">

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Trainingapp.com</a>
  </div>

</footer>
