<mat-card>
  <form class="example-form" #form="ngForm" (submit)="login(form)">
    <mat-form-field class="example-full-width">
      <input type="email" name="email" matInput [(ngModel)]="user.email" #email="ngModel" required placeholder="Email">
      <mat-error *ngIf="email.invalid">Email must be present</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" name="password" matInput [(ngModel)]="user.password" #password="ngModel" required placeholder="Password">
      <mat-error *ngIf="password.invalid">Password must be present</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
  </form>
</mat-card>
