<mat-spinner class="mat-middle" *ngIf="isloading"></mat-spinner>
<mat-card *ngIf="!isloading">
  <form class="example-form" #form="ngForm" (submit)="upload(form)">
    <mat-form-field class="example-full-width">
      <input type="text" name="name" matInput [(ngModel)]="course.name" #name="ngModel" required placeholder="Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="text" name="description" matInput [(ngModel)]="course.description" #description="ngModel" required placeholder="Description">
    </mat-form-field>
    <div class="example-full-width">
      <button mat-stroked-button type="button" (click)="filePicker.click()">Upload course</button>
      <input type="file" accept="video/*" #filePicker multiple (change)="onFilePicked($event)">
    </div>
    <button class="middle" mat-raised-button color="primary" [disabled]="form.invalid">upload</button>
  </form>
</mat-card>
