.image{
  height:41.5em;
  background-size:cover;
  width:auto;
  background-image:url('cover.jpg');
  background-position:50% 50%;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 100px;
  font-style: oblique;
}
